@model List<Doctor>

@{
    List<string> especialidades = (List<string>)ViewBag.Especialidades;
}

<h1>Tabla Doctores</h1>
<form method="post">
    <select class="form-control" name="especialidad" onchange="Submit()">
        @foreach (string especialidad in @ViewBag.Especialidades)
        {
            <option value="@especialidad">@especialidad</option>
        })
    </select>
    <button type="submit" class="btn btn-outline-dark">Buscar</button>
</form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
            <th>Hospital</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Doctor doctor in Model){
            <tr>
                <td>@doctor.IdDoctor</td>
                <td>@doctor.Apellido</td>
                <td>@doctor.Especialidad</td>
                <td>@doctor.Salario</td>
                <td>@doctor.IdHospital</td>
            </tr>
        }
    </tbody>
</table>